.kartyak{
    display: flex;
    justify-content:  center;
}

.cimEsNav{
    margin-top: 25px;
    padding-top: 25px;
    display: flex;
    justify-content:  space-around;
    align-items: center;
}

.cimEsNav a{
    color: black;

}

@media (max-width: 1100px) {
    .kartyak{
        flex-wrap: wrap;
    }
  } 

