.card {
  width: 260px;
  height: 260px;
  border-radius: 20px;
  background: #ffd3dd;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  margin: 30px;
 }

 .card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }

.text-title{
/*   border: 5px solid black ; */
}

 .card-details{
    text-align: left;
 }

 .text-body{
    margin-top: 25px;
    margin-bottom: 25px;
 }

 .arEsGomb{
    display: flex;
    margin-top: 50px;
 }

 .card-price{
  flex: 50%;
 }

 .card-button{
  flex: 50%;
  max-width: 35px;
  max-height: 35px;
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 5px;
 }

 .plus{
   width: 100%;
   height: 100%;
   font-size: 600%;
   border: none;
   background-color: transparent;
   text-align: center;
   align-items: center;
 }