.button {
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  width: 80%;
  height: 550px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.popup::-webkit-scrollbar {
  display: none;
}

@keyframes slideUp {
  from {
    transform: translate(-50%, 60%);
  }
  to {
    transform: translate(-50%, -50%);
  }
}

.popup.show {
  display: block;
  animation: slideUp 0.5s ease-out forwards;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
}

.overlay.active {
  margin: 0;
  background-color: rgba(26, 25, 25, 0.492);
  display: block;
  opacity: 1;
}

@media (max-width: 950px) {
  .whole-form-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}
