.profilkep_feltolto_kulso {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profilkep_kep {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}

.profilkep_input {
  margin-bottom: 10px;
}

.profilkep_gomb {
  background-color: #81bfb7;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.profilkep_gomb:hover {
  background-color: #6faea6;
}

.torles_gomb {
  background-color: #d9534f;
}

.torles_gomb:hover {
  background-color: #c9302c;
}
