@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.header-background {
  background-color: #b5a8d5;
  color: white;
  padding: 10px 0;

}

.header {
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  font-family: 'Fredoka One', sans-serif;
  font-weight: normal;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-background h1 {
  text-align: left;
  margin: 0;
  padding: 10px;
}

body {
  padding-top: 80px;
}
